NL2SQL Architecture (3 Agents) (3).json
{
  "name": "NL2SQL Architecture (3 Agents)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nl2sql-3-agents",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "f9a1f0a3-69ed-4158-8ebd-05728e0785d2",
      "name": "Webhook",
      "position": [
        -4496,
        32
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "webhookId": "957352e1-32da-4f9e-a443-1f04c2a3db7a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node['Webhook'].json.body.backend_url || 'http://localhost:3000' }}/api/query",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "sql",
              "value": "={{ $node[\"Clear Schema Query\"].json.sql }}"
            },
            {
              "name": "connection_string",
              "value": "={{ $node[\"Webhook\"].json.body.connection_string }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6563dc87-5f20-46ea-a2a7-25b6be1a55e0",
      "name": "Query DB Schema",
      "position": [
        -3456,
        -16
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Misión: Eres un Agente Razonador y Generador de SQL de élite. Tu objetivo es procesar la solicitud en lenguaje natural del usuario utilizando el esquema de base de datos provisto en claro.\n\nDATOS DE ENTRADA:\n- Pregunta del usuario: \"{{ $('Webhook').first().json.body.question }}\"\n- Motor de Base de Datos: \"{{ $('Detect Engine').first().json.engine }}\"\n\nESQUEMA DE BASE DE DATOS:\n{{ $('Query DB Schema').first().json.data ? $('Query DB Schema').first().json.data.map(item => 'Tabla:' + item.table_name + '|Columna:' + item.column_name + '|Tipo:' + item.data_type).join('\\\\n') : 'Error: No se pudieron cargar los metadatos.' }}\n\nPASOS DE RAZONAMIENTO REQUERIDOS:\n1. Analiza semánticamente la pregunta del usuario.\n2. Mapea las entidades solicitadas con las tablas y atributos reales del esquema provisto en la sección de arriba.\n3. Resuelve uniones (joins), filtros y agregaciones basadas en la intención semántica.\n4. Genera una consulta SQL real y ejecutable utilizando los nombres reales que aparecen en el esquema de arriba. No dejes marcadores de posición ni textos de ejemplo.\n5. Diseña una plantilla de texto profesional que describa qué datos se consultan. DEBES colocar exactamente el tag {{DATOS}} en el lugar donde el backend inyectará la tabla markdown de resultados.\n\nREGLAS DE SALIDA CRÍTICAS:\n- Tu respuesta DEBE ser obligatoriamente un objeto JSON puro y válido.\n- NO incluyas etiquetas Markdown como ```json o ```.\n- NO incluyas razonamiento externo en tu texto final (todo razonamiento debe ir en el campo \"reasoning\").\n- La consulta SQL debe incorporar siempre una cláusula LIMIT 100 de seguridad al final.\n\nESTRUCTURA JSON DE SALIDA EXIGIDA:\n{\n  \"reasoning\": \"Explicación interna paso a paso de tu análisis y decisiones de relaciones.\",\n  \"sql\": \"SELECT col1 FROM tabla1 WHERE col2 = 'valor' LIMIT 100;\",\n  \"template\": \"Aquí tienes el reporte solicitado:\\n{{DATOS}}\"\n}",
        "options": {}
      },
      "id": "a108c7ef-857f-4cdd-8bf8-850f5f0e7d1c",
      "name": "Agente Razonador y Generador SQL",
      "position": [
        -3168,
        -16
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "model": "qwen/qwen3-32b",
        "options": {}
      },
      "id": "c7fa8409-7d71-4c88-9a4d-69cc820d8fbb",
      "name": "Groq Chat Model (Qwen)",
      "position": [
        -3168,
        176
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "credentials": {
        "groqApi": {
          "id": "sIrLyDe0zrmoTxRH",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let dirtyText = $json.output || $json.text || \"\";\nconst start = dirtyText.indexOf('{');\nconst end = dirtyText.lastIndexOf('}');\nlet parsed = {};\nif (start !== -1 && end !== -1) {\n    try {\n        parsed = JSON.parse(dirtyText.substring(start, end + 1));\n    } catch (e) {\n        let sqlMatch = dirtyText.match(/\"sql\"\\s*:\\s*\"([^\"]+)\"/);\n        let templateMatch = dirtyText.match(/\"template\"\\s*:\\s*\"([^\"]+)\"/);\n        parsed.sql = sqlMatch ? sqlMatch[1] : dirtyText;\n        parsed.template = templateMatch ? templateMatch[1] : \"Aquí tienes los datos: \" + \"{\" + \"{DATOS}\" + \"}\";\n    }\n} else {\n    parsed.sql = dirtyText;\n    parsed.template = \"Aquí tienes los datos: \" + \"{\" + \"{DATOS}\" + \"}\";\n}\n\nlet sql = parsed.sql || \"\";\nsql = sql.replace(/```sql|```/gi, '').trim();\nconst selectIndex = sql.toUpperCase().indexOf(\"SELECT\");\nif (selectIndex !== -1) {\n    sql = sql.substring(selectIndex);\n}\nsql = sql.replace(/\\s+/g, ' ').trim();\n\nreturn {\n    json: {\n        sql: sql,\n        template: parsed.template || \"Aquí tienes los datos: \" + \"{\" + \"{DATOS}\" + \"}\"\n    }\n};"
      },
      "id": "f4572790-0210-418a-8690-4a84a294d773",
      "name": "Parser Agente 2",
      "position": [
        -2864,
        32
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Misión: Eres un Agente de Seguridad y Auditoría SQL de élite. Tu objetivo es auditar la consulta SQL generada por el Agente Razonador contra el esquema de base de datos provisto para garantizar que sea segura, válida sintácticamente y que no realice modificaciones destructivas.\n\nCONSULTA SQL A AUDITAR:\n{{ $('Code in JavaScript').first().json.sql }}\n\nESQUEMA DE BASE DE DATOS DE REFERENCIA:\n{{ JSON.stringify($('Query DB Schema').first().json.data) }}\n\nREGLAS DE AUDITORÍA OBLIGATORIAS:\n1. Solo se permiten consultas de tipo SELECT. Si detectas comandos de modificación o destructivos (INSERT, UPDATE, DELETE, DROP, ALTER, CREATE, TRUNCATE, etc.), responde con ERROR.\n2. Verifica que los nombres de tablas y columnas utilizados en el SQL coincidan exactamente con los presentes en el ESQUEMA de base de datos provisto.\n3. Asegúrate de que la consulta incorpore una cláusula LIMIT (máximo 100).\n4. Si la consulta es segura y coherente con el esquema, responde ÚNICAMENTE con la consulta SQL exacta en texto plano.\n5. Si no es segura o válida, responde ÚNICAMENTE con la palabra: ERROR.\n\nREGLA DE SALIDA:\nResponde en texto plano (sin bloques de código markdown, sin explicaciones ni comentarios). Solo la consulta SQL o la palabra ERROR.",
        "options": {}
      },
      "id": "b76eb4c3-e1ed-4234-b829-6c71c5e1c47c",
      "name": "Agente de Seguridad y Validación",
      "position": [
        -2464,
        -16
      ],
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "id": "755ddb1c-f8d7-4aef-b84a-e676a836c45f",
      "name": "Groq Chat Model (Defog)",
      "position": [
        -2464,
        176
      ],
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "credentials": {
        "groqApi": {
          "id": "sIrLyDe0zrmoTxRH",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 1. Capturamos el string en bruto que viene del agente de seguridad\nlet rawOutput = $('Agente de Seguridad y Validación').first().json.output || '';\nrawOutput = rawOutput.trim();\n\nif (!rawOutput) {\n  throw new Error(\"El nodo de seguridad no entregó ninguna respuesta.\");\n}\n\n// 2. Validar si es un error\nif (rawOutput.toUpperCase().includes('ERROR')) {\n  throw new Error(\"Violación de Seguridad: La consulta no pasó la validación del Agente de Seguridad.\");\n}\n\n// 3. Limpiar marcas de código markdown si las hay\nlet sql = rawOutput.replace(/```sql|```/gi, '').trim();\n\nif (!sql.toUpperCase().startsWith(\"SELECT\")) {\n  throw new Error(\"Violación de Seguridad: Únicamente se permiten consultas SELECT.\");\n}\n\n// 4. Recuperar la plantilla del razonador\nconst template = $('Parser Agente 2').first().json.template || '';\n\n// 5. Devolver los datos estructurados para el backend\nreturn [{\n  json: {\n    sql: sql,\n    template: template\n  }\n}];"
      },
      "id": "a6c1f77c-0580-432c-a553-b650b13afee6",
      "name": "Security Parser",
      "position": [
        -2160,
        16
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node['Webhook'].json.body.backend_url || 'http://localhost:3000' }}/api/execute",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "connection_string",
              "value": "={{ $node['Webhook'].json.body.connection_string }}"
            },
            {
              "name": "llm_template",
              "value": "={{ $node['Security Parser'].json.template }}"
            },
            {
              "name": "sql",
              "value": "={{ $json.sql }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b1b7ca9a-ddb8-45fb-a2b6-641f6d96b694",
      "name": "Backend Execute",
      "position": [
        -1968,
        -48
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const body = $input.item.json.body || {};\nconst conn = body.connection_string || '';\nlet engine = 'postgres';\nif (conn.startsWith('mysql')) engine = 'mysql';\nelse if (conn.startsWith('oracle')) engine = 'oracle';\nelse if (conn.startsWith('sqlserver')) engine = 'mssql';\nreturn { json: { ...body, engine } };"
      },
      "id": "77aabaa1-c7d2-42e6-8cbe-39c5e46bfd05",
      "name": "Detect Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4304,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "// 1. Extraemos el SQL que viene del paso anterior\nconst sqlQuery = $('Parser Agente 2').first().json.sql;\nconst template = $('Parser Agente 2').first().json.template;\nconst reasoning = $('Parser Agente 2').first().json.reasoning;\n\nif (!sqlQuery) {\n  throw new Error(\"Violación de Seguridad: No se detectó ninguna consulta SQL.\");\n}\n\n// 2. Forzamos la regla de oro: Solo consultas SELECT por seguridad Zero-Trust\nconst cleanQuery = sqlQuery.trim().toUpperCase();\nif (!cleanQuery.startsWith(\"SELECT\")) {\n  throw new Error(\"Violación de Seguridad: Únicamente se permiten consultas estructuradas de tipo SELECT.\");\n}\n\n// 3. Si pasa las auditorías, devolvemos los datos limpios para el backend\nreturn [{\n  json: {\n    reasoning: reasoning,\n    sql: sqlQuery,\n    template: template\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2656,
        16
      ],
      "id": "9d3e5fe4-c552-438f-9d33-449e0731b23b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Misión: Genera ÚNICAMENTE la consulta SQL para extraer los metadatos (tablas y columnas) del motor de base de datos especificado.\n\nMOTOR DE BASE DE DATOS DETECTADO: \n{{ $('Detect Engine').first().json.engine }}\n\nINSTRUCCIONES TÉCNICAS REQUERIDAS:\n1. Si el motor es 'postgresql' o 'postgres':\n   Estructura: SELECT table_schema, table_name, column_name, data_type FROM information_schema.columns WHERE table_schema = 'public' ORDER BY table_name, ordinal_position;\n\n2. Si el motor es 'mysql' o 'mariadb':\n   Estructura: SELECT table_schema, table_name, column_name, data_type FROM information_schema.columns WHERE table_schema = DATABASE() ORDER BY table_name, ordinal_position;\n\n3. Si el motor es 'sqlite':\n   Estructura: SELECT m.name AS table_name, p.name AS column_name, p.type AS data_type FROM sqlite_master AS m JOIN pragma_table_info(m.name) AS p WHERE m.type = 'table' AND m.name NOT LIKE 'sqlite_%' ORDER BY m.name;\n\n4. Si el motor es 'oracle':\n   Estructura: SELECT owner AS table_schema, table_name, column_name, data_type FROM all_tab_columns WHERE owner NOT IN ('SYS', 'SYSTEM') ORDER BY table_name, column_id;\n\nREGLAS DE ORO OBLIGATORIAS:\n- Responde ÚNICAMENTE con la consulta SQL final.\n- NO uses bloques de código Markdown (prohibido usar ```sql).\n- NO incluyas explicaciones, saludos ni comentarios.\n- Asegúrate de que la consulta termine en punto y coma (;).",
        "options": {}
      },
      "id": "17f42c7a-236a-4670-b505-85a518299afb",
      "name": "Context Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -4064,
        -16
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "id": "be68e017-4fe3-4154-86eb-16686d9e107f",
      "name": "Gemini Model (Context)",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -4064,
        176
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "Zgb7mNLlIBDGrI0q",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "let dirtyText = $json.output || $json.text || \"\";\nlet sql = dirtyText.replace(/```sql|```/gi, '').trim();\nconst selectIndex = sql.toUpperCase().indexOf(\"SELECT\");\nif (selectIndex !== -1) {\n    sql = sql.substring(selectIndex);\n}\nsql = sql.replace(/\\s+/g, ' ').trim();\n\nreturn {\n    json: {\n        sql: sql\n    }\n};"
      },
      "id": "4b5e29d4-d2ee-4f3d-aa8a-f5899b1f2463",
      "name": "Clear Schema Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3696,
        -16
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Agente Razonador y Generador SQL": {
      "main": [
        [
          {
            "node": "Parser Agente 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente de Seguridad y Validación": {
      "main": [
        [
          {
            "node": "Security Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model (Defog)": {
      "ai_languageModel": [
        [
          {
            "node": "Agente de Seguridad y Validación",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model (Qwen)": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Razonador y Generador SQL",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parser Agente 2": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Security Parser": {
      "main": [
        [
          {
            "node": "Backend Execute",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Detect Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Agente de Seguridad y Validación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query DB Schema": {
      "main": [
        [
          {
            "node": "Agente Razonador y Generador SQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Engine": {
      "main": [
        [
          {
            "node": "Context Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model (Context)": {
      "ai_languageModel": [
        [
          {
            "node": "Context Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Context Agent": {
      "main": [
        [
          {
            "node": "Clear Schema Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear Schema Query": {
      "main": [
        [
          {
            "node": "Query DB Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "a8743eae-d7f9-4436-b788-4f7f12ec1b70",
  "meta": {
    "instanceId": "6d46dc8df4bff97ef63097c8ba662a238601df63715afb441fd51d4405d3b5cc"
  },
  "id": "uGIDY4qm3Tgn6yhF",
  "tags": []
}